.window-body {
    background: #c0c0c0;            
    padding: 12px;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;
    color: #000;
    font-family: "Tahoma", "Verdana", sans-serif;
    font-size: 13px;
}
